* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
}

.navbar-right img {
    border-radius: 20px;
}
.input {
    width: 50rem;
    height: 30px;
    text-align:start;
    border-radius: 20px;
}

.Pilihan {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 3px;
    border-radius: 10px;
}

button {
    padding: 3px;
}

button:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-bawah {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.link {
    width: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.navvideo {
    display: grid;
}
.video11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-left: 180px;
    margin-top: 15px;
    border-radius: 100px;
}

.video-wrap {
    border: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-left: 180px;
    margin-top: 15px;
}